<h1 class="text-center mt-4">Listing all articles</h1>
<div class="text-end">
<%= link_to 'Create new article', new_article_path, class: 'btn btn-primary btn-sm' %>
</div>

<div class="container">
  <% @articles.each do |article| %>
    <%= render 'articles/preview', article: article %>
  <% end %>
</div>
